<main class="main">
	{{#with data}}
		<form method="POST" action="/purchase-submit?id={{id}}" class="form-card">
			{{>heading title="Ваше замовлення"}}

			<ul class="cart">
				{{#each cart}}
					<li class="cart__item">
						<span>{{text}}</span>
						<span class="form-card__accent">{{price}}₴</span>
					</li>
				{{/each}}
			</ul>

			{{>divider}}

			{{>heading title="Оформлення замовлення"}}

		<div class="form-card__item">	
			{{>field label="Прізвище" name="lastname"}}
			{{>field label="Ім'я" name="firstname"}}
		</div>

		<div class="form-card__item">	
			{{>field label="Мобільний телефон" name="phone"}}
			{{>field label="Електронна пошта" name="email"}}
		</div>
		
		<div>
			{{>field label="Коментар" name="comment"}}
			<span class="comment">Коментар буде передано кур'єру</span>
		</div>
		
			{{>field label="Списати бонуси" name="bonus"}}

			{{>field label="Промо-код" name="promocode"}}

			{{>divider}}

			{{>field value=totalPrice name="totalPrice" disabled=true}}
			{{>field value=productPrice name="productPrice" disabled=true}}
			{{>field value=deliveryPrice name="deliveryPrice" disabled=true}}
			{{>field value=amount name="amount" disabled=true}}

			<strong class="form-card__accent">
				Всього: {{totalPrice}}₴ ({{bonus}}₴  на бонусний рахунок)
			</strong>

			{{>button text="Оформити замовлення"}}

		</form>
	{{/with}}
</main>