<main class="main">
	{{#with data.product}}
		<form method="POST" action="/purchase-create?id={{id}}">
			<div class="product-info">
					<img src="{{img}}" alt="{{title}}" class="product-info__image">

				<div class='product-info__block'>
				
					<h2 class="product-info__title">{{title}}</h2>
					<p class="product-info__subtitle">{{description}}</p>		
				
					{{!-- {{> divider}} --}}
				
					{{!-- {{#each category}}
						<span class="product-info__category product-info__category--{{id}}">{{text}}</span>
					{{/each}} --}}

					{{> divider}}

					{{> field label="Кількість" type="number" name="amount" value="1"}}

					{{>button text="Купити зараз" price=price}}
				</div>
			</div>
		</form>
	{{/with}}

	<div class="product-info__heading">
		{{> heading title="Інші товари" info="Комп'ютери та ноутбуки"}}
	<div>

		<div></div>

	<div class="product-info__list">
		{{#each data.list}}
			{{> purchase-product data=this}}
		{{/each}}
	</div>

</main>